{% import "bootstrap/wtf.html" as wtf %}

<!doctype html>

<style>
  .kuva {
    float: middle;
    width: 100%;
    padding: 30px;
  }
  </style>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Epsilan ry</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Epsilan ry</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a href="/kirjaudu"><button class="btn btn-primary">Kirjaudu</button></a>
          </li>
      </ul>
    </div>
  </nav>
  {% with viestit = get_flashed_messages() %}
    {% if viestit %}
        {% for viesti in viestit %}
            <div class="alert alert-primary" role="alert">
                <b>{{ viesti }}</b>
            </div>
        {% endfor %}
    {% endif %}
  {% endwith %}

  <img class="kuva" src="{{url_for("static", filename="timos.jpg")}}"/>