{% import "bootstrap/wtf.html" as wtf %}

<!doctype html>
<style>
.reunat {
  margin: auto;
  width: 25%;
  border: 1px solid black;
  padding: 10px;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Epsilan ry</title>
<nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Epsilan ry</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a href="/kirjaudu"><button class="btn btn-primary">Kirjaudu</button></a>
         </li>
      </ul>
  </nav>
  <form method="POST" action="/rekisteroidy">
    <div class="reunat">
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.kayttaja_nimi) }}
      {{ wtf.form_field(form.salasana) }}
      {{ wtf.form_field(form.sahkoposti) }}
        <button type="submit" class="btn btn-primary">Rekisteröidy</button>

    </div>
  </form>

  {% with viestit = get_flashed_messages() %}
    {% if viestit %}
        {% for viesti in viestit %}
            <div class="alert alert-primary" role="alert">
                <b>{{ viesti }}</b>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
